
body{
    background-color: cornsilk;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.iteminput{
    text-align: center;
    margin-left: 40px;
}

.iteminputdata{
    text-align: center;
    text-decoration: underline;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    
}

.iteminputdata1{
    text-align: center;
    text-decoration: underline;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px
 
}